.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    /* margin-top: 10px; */
  }
  
  .details .recentOrders {
    position: relative;
    display: grid;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    overflow-y: auto;
  }
  

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 40px;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}


.cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }
  

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    overflow: auto;
    max-height: 700px;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .recentOrders table tr td {
    padding: 10px;
}

.details .recentOrders table tr td:last-child {
    text-align: center;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}




.actions-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-actions {
    background-color: var(--white);
    border-radius: 10px;
    color: var(--black1);
    padding: 5px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.btn-actions strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr;
    }
  
    .recentOrders {
      overflow-x: auto;
    }
  
    .status.inProgress {
      white-space: nowrap;
    }

    .cardHeader h2 {
        font-size: 20px;
      }
    
  }
  