:root {
  /* ===== Colors ===== */

  --container-color: #1a1e21;
  --second-color: rgba(77, 228, 255);

  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #67ccff;
  --primary-color-light: #F6F5FF;
  --toggle-color: #0c0808;
  --text-color: #0c0808;
  --text-color-btn: #0c0808;
  --text-color-text:#101111;  
  --btn-hover-dark:#12f7ff;
  --color-btn-hover:#101111;
  --error-notification: #d30d27;
  --sucess-notifcation: #1daf0a;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #F6F5FF;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --text-color-text:#F6F5FF;  
  --text-color-btn:#12f7ff;
  --btn-hover-dark:#8b8787;
  --color-btn-hover: #12f7ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);
    transition: var(--tran-05);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}


::-webkit-scrollbar {
  height: .1rem;
  width: .5rem;
}

::-webkit-scrollbar-track {
  background-color: #67ccff;
}

::-webkit-scrollbar-thumb {
  background-color: #194eb9;
  border-radius: 5rem;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyFontFuncity';
  src: url('../fonts/FunCityLevel2Stencil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFontRancho';
  src: url('../fonts/Rancho-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyFontMinion';
  src: url('../fonts/MinionPro-MediumIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFontMinionReg';
  src: url('../fonts/MinionPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

